<%- include('./layout/main'); -%> <%- include('./layout/header'); -%>


<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Banner</h4>

            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="@getbootstrap"
            >
              Add Banner
            </button>

            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      New Banner
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="/admin/addBanner" method="post" enctype="multipart/form-data">
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label"
                          >Banner Tittle1:</label
                        >
                        <div id="errorBanename"></div>
                        <input
                          type="text"
                          class="form-control"
                          name="bannertittle1"
                          id="bannername"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label"
                          >Banner Tittle2:</label
                        >
                        <div id="errorBanename"></div>
                        <input
                          type="text"
                          class="form-control"
                          name="bannertittle2"
                          id="bannername"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label"
                          >Price:</label
                        >
                        <div id="errorBanename"></div>
                        <input
                          type="text"
                          class="form-control"
                          name="bannerprice"
                          id="bannername"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="formFile" class="form-label">Banner image</label>
                        <div id="errorBaneimg"></div>
                        <input class="form-control" type="file" id="bannerimage" name="bannerimage">
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="submit" id="bannerBtn" class="btn btn-primary">
                          Add
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Banner image</th>
                    <th>Banner tittle1</th>
                    <th>Banner tittle2</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% bannerDetails.forEach(banner => { %>

                  <tr>
                    <td>
                      <div class="form-check form-check-muted m-0">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" />
                        </label>
                      </div>
                    </td>
                    <td>
                      <img src="data:<%= banner.contentType %>;base64,<%= banner.imageBase64 %>" alt="image" style="width: 70px; height: 70px;" class="ml-2">
                    </td>
                    <td><%= banner.banner_tittle1 %></td>
                    <td><%= banner.banner_tittle2 %></td>
                
                    <td>
                      <a onclick="bannerDelete('<%= banner._id %>')">
                        <span
                          class="material-symbols-outlined text-danger ml-4"
                        >
                          delete
                        </span>
                      </a>
                    </td>
                  </tr>

                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include('./layout/end'); -%>