<%- include('./layout/main'); -%> <%- include('./layout/header'); -%>






<div class="main-panel">
    <div class="content-wrapper">
<div class="row" id="invoice">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Order Status</h4>
          <a href="javascript:void(0)" class="btn-download"><div class="badge badge-outline-success float-right">Download</div></a>
          
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </th>
                  <th> Client Name </th>
                  <th> Order No </th>
                  <th> Products Cost </th>
                  <th> Payment Mode </th>
                  <th> Order Date </th>
                  <th> Payment Status </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                




                
<% for( let i = 0; i < orderDetails.length; i++ ) { %>


                
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face4.jpg" alt="image" />
                    <span class="pl-2"><%= orderDetails[i].user.fullname %></span>
                  </td>
                  <td> <%= orderDetails[i]._id %> </td>
                  <td> <%= orderDetails[i].totalamount %> ₹ </td>
                  <td> <%= orderDetails[i].payment %> </td>
                  <td> <%= moment(orderDetails[i].createdAt).format('DD-MM-YYYY');  %> </td>
                  <td>
                    <%= orderDetails[i].status %> 
                  </td>


                  <td>

                            <div class="btn-group dropleft">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                               <div class="dropdown-menu">
                                  <a href="/admin/orderPlaced?id=<%= orderDetails[i]._id %>" class="dropdown-item">Placed</a>
                                  <a href="/admin/orderShipping?id=<%= orderDetails[i]._id %>" class="dropdown-item">Shipping</a>
                                  <a href="/admin/orderDelivered?id=<%= orderDetails[i]._id %>" class="dropdown-item">Deliverd</a>
                                  <a href="/admin/orderCancel?id=<%= orderDetails[i]._id %>" class="dropdown-item">Cancel</a>
                                </div>
                              </div>



                  </td>




                </tr>


                <% } %>



              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>





<script src="js/jspdf.debug.js"></script>
<script src="js/html2canvas.min.js"></script>
<script src="js/html2pdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const options = {
      margin: 0.5,
      filename: 'invoice.pdf',
      image: { 
        type: 'jpeg', 
        quality: 500
      },
      html2canvas: { 
        scale: 1 
      },
      jsPDF: { 
        unit: 'in', 
        format: 'letter', 
        orientation: 'portrait' 
      }
    }
    
    $('.btn-download').click(function(e){
      e.preventDefault();
      const element = document.getElementById('invoice');
      html2pdf().from(element).set(options).save();
    });
   
    </script>












<%- include('./layout/footer'); -%>



