<%- include('./layout/main'); -%> <%- include('./layout/header'); -%>
<link rel="stylesheet" href="
https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js
">

<div class="main-panel">
    <div class="content-wrapper">


        <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Sales Report</h4>
                  <a id="downloadexcel"><div class="badge badge-outline-success float-right">Download</div></a>
                  <h6 style="color: blue;" class="card-title">Last 30 days Sales Report</h6>
                  
                  <div class="table-responsive">
                    <table class="table" id="example-table">
                      <thead>
                        <tr>
                          <th>
                            Date
                          </th>
                          <th> Total Price </th>
                          <th> Profit </th>
                          <th> Order Count </th>
                          
                          
                        </tr>
                      </thead>
                      <tbody>
                        

                        
                         
               <% salesReport.forEach(report => { %>
                
               
                        
                        <tr>
                          <td><%= report._id %>  </td>
                          <td> <%= report.totalamount %> ₹ </td>
                          <td> <%=  report.totalamount*5/100 %> %</td>
                          <td> <%= report.count %>  </td>
                         
                        </tr>
                        

                        <% }) %>



                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
   
  </div>
  
  <script src="/table2excel.js"></script>
  <script>

    document.getElementById('downloadexcel').addEventListener('click',function(){
      console.log("vannu");
      var table2excel = new Table2Excel();
      table2excel.export(document.querySelectorAll("#example-table"));
    })
    
  </script>