<%- include('./layout/main'); -%> <%- include('./layout/header'); -%>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">User list</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>username</th>
                    <th>user email</th>
                    <th>Phone</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% userDetails.forEach(user => { %>

                  <tr>
                    <td>
                      <div class="form-check form-check-muted m-0">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" />
                        </label>
                      </div>
                    </td>
                    <td>
                      <img src="assets/images/faces/face1.jpg" alt="image" />
                      <span class="pl-2"><%= user.fullname %></span>
                    </td>
                    <td><%= user.email %></td>
                    <td><%= user.phone %></td>
                    <td>
                      <% if ( user.isBanned ) { %>
                      <a href="/admin/unblockUser?id=<%= user._id %>">
                        <button
                          class="badge badge-outline-success"
                          style="background-color: transparent"
                        >
                          Unblock
                        </button>
                      </a>
                      <% } else { %>
                      <a href="/admin/blockUser?id=<%= user._id %>">
                        <button
                          class="badge badge-outline-danger"
                          style="background-color: transparent">
                          Block
                        </button>
                      </a>
                      <% } %>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./layout/end.ejs'); -%>
<%- include('./layout/footer'); -%>
