<%- include('./layout/main'); -%> <%- include('./layout/popup'); -%> <%-
include('./layout/header'); -%>



<!--================= Banner Section Start Here =================-->
        <div class="banner banner-3">
            <div class="swiper bannerSlide">
                <div class="swiper-wrapper">



<% bannerDetails.forEach(banner => { %>
 


                    <div class="swiper-slide">
                        <div class="banner-single bg-image bg-image-3">
                            <div class="container">
                                <div class="single-inner">
                                    <div class="contents">
                                        <span class="banner-pretitle-box">Hot Deal In This Week</span>
                                        <h1 class="banner-heading mb--30">
                                            <%= banner.banner_tittle %></h1>
                                        <div class="banner-action">
                                            <a class="banner-btn banner-btn2" href="/shoppage"><i
                                                    class="rt-cart-shopping"></i>Shop
                                                Now</a>
                                            <div class="banner-review">
                                                <div class="review">
                                                    <div class="star"><i class="fas fa-star"></i></div>
                                                    <div class="star"><i class="fas fa-star"></i></div>
                                                    <div class="star"><i class="fas fa-star"></i></div>
                                                    <div class="star"><i class="fas fa-star"></i></div>
                                                    <div class="star"><i class="fal fa-star"></i></div>
                                                </div>
                                                <span class="review-text"><span class="value">100+</span> Review</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="banner-product-thumb"><img style="height: 1000px;"
                                            src="data:<%= banner.contentType %>;base64,<%= banner.imageBase64 %>" alt="banner-product"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% }) %>


                    
                </div>
                <div class="slider-navigation">
                    <div class="swiper-button-prev slider-btn prev"><i class="fal fa-long-arrow-up"></i></div>
                    <div class="swiper-button-next slider-btn next"><i class="fal fa-long-arrow-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Banner Section End Here =================-->

<!--================= Offer Section Start Here =================-->
<div class="rts-offer-section">
  <div class="container">
    <div class="rts-offer-inner">
      <p class="description">
        Super discount for your 100$ purchase. Use this code
        <a href="">OFFER100</a>
      </p>
    </div>
  </div>
</div>
<!--================= Offer Section End Here =================-->

<!--================= Category Section Start Here =================-->
<div class="rts-new-collection-section section-gap">
  <div class="container">
    <div class="recent-products-header section-header"></div>
    <div class="swiper rts-cmmnSlider-over" data-swiper="pagination">
      <div class="swiper-wrapper">
        <% categoryDetails.forEach(category => { %>

        <div class="swiper-slide">
          <div class="collection-item">
            <a href="#"
              ><img
                src="data:<%= category.contentType %>;base64,<%= category.imageBase64 %>"
                alt="collection-image"
                style="height: 400px; width: 500px"
              />
            </a>
            <p class="item-quantity">20 <span>items</span></p>
            <a href="category.html" class="item-catagory-box">
              <h3 class="title"><%= category.category_name %></h3>
            </a>
          </div>
        </div>

        <% }) %>
      </div>
    </div>
  </div>
</div>
<!--================= Category Section End Here =================-->

<!--================= Hand Picked Section Start Here =================-->
<div class="rts-hand-picked-products-section">
  <div class="container">
    <div class="section-header section-header3 text-center">
      <div class="wrapper">
        <div class="sub-content">
          <img class="line-1" src="assets/images/banner/wvbo-icon.png" alt="" />
          <span class="sub-text">Featured</span>
          <img class="line-2" src="assets/images/banner/wvbo-icon.png" alt="" />
        </div>
        <h2 class="title">HAND-PICKED PRODUCT</h2>
      </div>
    </div>
    <div class="slider-div">
      <div class="swiper rts-sixSlide-over">
        <div class="swiper-wrapper">
          <% productDetails.forEach(products => { %>

          <div class="swiper-slide">
            <div class="product-item element-item1">
              <a class="product-image image-hover-variations">
                <div class="image-vari1 image-vari">
                  <img
                    src="data:<%= products.product_image[0].contentType %>;base64,<%= products.product_image[0].imageBase64 %>"
                    alt="product-image"
                    height="300px"
                  />
                </div>
                <div class="image-vari2 image-vari">
                  <img
                    src="data:<%= products.product_image[1].contentType %>;base64,<%= products.product_image[1].imageBase64 %>"
                    alt="product-image"
                    height="300px"
                  />
                </div>
              </a>
              <div class="bottom-content">
                <a href="#" class="product-name"><%= products.name %></a>
                <div class="action-wrap">
                  <span class="price">₹<%= products.price %></span>
                </div>
              </div>
              <div class="quick-action-button">
                <div class="cta-single cta-plus">
                  <a href="#"><i class="rt-plus"></i></a>
                </div>
                <div class="cta-single cta-quickview">
                  <button
                    onclick="quickView('<%= products._id %>')"
                    class="product-details-popup-btn"
                  >
                    <i class="far fa-eye"></i>
                  </button>
                </div>








                <% if (typeof(user) == "undefined" || !user ) { %>

                <div class="cta-single cta-wishlist">
                  <a onclick="pleaselogin()"><i class="far fa-heart"></i></a>
                </div>
                <div class="cta-single cta-addtocart">
                  <a onclick="pleaselogin()"><i class="fa fa-cart-plus"></i></a>
                </div>

                <% } else { %>

                <div id="like" class="cta-single cta-wishlist">
                  <a onclick="addWishlist('<%= products._id %>')"
                    ><i class="far fa-heart"></i
                  ></a>
                </div>

                <div class="cta-single cta-addtocart">
                  <a onclick="addCArt('<%= products._id %>')"><i class="fa fa-cart-plus"></i></a>
                </div>

                <% } %>










                
              </div>
              <div class="product-features">
                <div class="discount-tag product-tag">
                  <%= products.discount %>%
                </div>
              </div>
            </div>
          </div>

          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================= Hand Picked Section End Here =================-->

<!--================= Product-details Section Start Here =================-->
<div class="product-details-popup-wrapper">
  <div
    class="rts-product-details-section rts-product-details-section2 product-details-popup-section"
  >
    <div class="product-details-popup">
      <button class="product-details-close-btn">
        <i class="fal fa-times"></i>
      </button>
      <div class="details-product-area">
        <div class="product-thumb-area">
          <div class="cursor"></div>
          <div class="thumb-wrapper one filterd-items figure">
            <div
              class="product-thumb zoom"
              onmousemove="zoom(event)"
              id="Backimage1"
              style="background-image: url()"
            >
              <img id="Showimage1" src="" alt="product-thumb" />
            </div>
          </div>
          <div class="thumb-wrapper two filterd-items hide">
            <div
              class="product-thumb zoom"
              onmousemove="zoom(event)"
              id="Backimage2"
              style="background-image: url()"
            >
              <img id="Showimage2" src="" alt="product-thumb" />
            </div>
          </div>

          <div class="product-thumb-filter-group">
            <div class="thumb-filter filter-btn active" data-show=".one">
              <img id="Downimage1" src="" alt="product-thumb-filter" />
            </div>
            <div class="thumb-filter filter-btn" data-show=".two">
              <img id="Downimage2" src="" alt="product-thumb-filter" />
            </div>
          </div>
        </div>
        <div class="contents">
          <div class="product-status">
            <span class="product-catagory" id="category">Dress</span>
            <div class="rating-stars-group">
              <div class="rating-star"><i class="fas fa-star"></i></div>
              <div class="rating-star"><i class="fas fa-star"></i></div>
              <div class="rating-star">
                <i class="fas fa-star-half-alt"></i>
              </div>
              <span>10 Reviews</span>
            </div>
          </div>
          <h2 class="product-title" id="name">
            <span class="stock">In Stock</span>
          </h2>
          <span class="product-price" id="price"></span
          ><span class="old-price"><h3>₹</h3></span>
          <p id="description"></p>
          
          <div class="product-uniques">
            <span>Brand: </span
            ><span class="sku product-unipue" id="brand"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================= Product-details Section End Here =================-->











<script>
  function pleaselogin() {
    Swal.fire("BigMart", "Please Login your Account", "question");
  }

  function addCArt(id) {
    $.ajax({
      url:`/addCart?id=${id}`,
      method:"get",
      success:(response)=>{
        if (response.status === "success") {
          Swal.fire({
            position: "top-center",
            icon: "success",
            title: "Product added to Cart",
            showConfirmButton: false,
            timer: 2000,
          });
        }else {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Product already in your Cartlist!",
          });
        }    

      }
    })
  }

  function addWishlist(id) {
    $.ajax({
      url: `/addWishlist?id=${id}`,
      method: "get",
      success: (response) => {
        if (response.status === "success") {
          Swal.fire({
            position: "top-center",
            icon: "success",
            title: "Product added to Wishlist",
            showConfirmButton: false,
            timer: 2000,
          });
        } else {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Product already in your Wishlist!",
          });
        }
      },
    });
  }

  function quickView(id) {
    $.ajax({
      url: `/productQuickview?id=${id}`,
      success: function (productDetails) {
        $("#name").html(productDetails.name);
        $("#price").html(productDetails.price);
        $("#description").html(productDetails.description);
        $("#category").html(productDetails.category.category_name);
        $("#brand").html(productDetails.brand);

        let img1 =
          "data:" +
          productDetails.product_image[0].contentType +
          ";base64," +
          productDetails.product_image[0].imageBase64;
        $("#Downimage1").attr("src", img1);
        let img2 =
          "data:" +
          productDetails.product_image[1].contentType +
          ";base64," +
          productDetails.product_image[1].imageBase64;
        $("#Downimage2").attr("src", img2);

        let img3 =
          "data:" +
          productDetails.product_image[0].contentType +
          ";base64," +
          productDetails.product_image[0].imageBase64;
        $("#Showimage1").attr("src", img3);
        let img4 =
          "data:" +
          productDetails.product_image[1].contentType +
          ";base64," +
          productDetails.product_image[1].imageBase64;
        $("#Showimage2").attr("src", img4);

        let img5 =
          "data:" +
          productDetails.product_image[0].contentType +
          ";base64," +
          productDetails.product_image[0].imageBase64;
        $("#Backimage1").css("background-image", "url(" + img5 + ")");
        let img6 =
          "data:" +
          productDetails.product_image[1].contentType +
          ";base64," +
          productDetails.product_image[1].imageBase64;
        $("#Backimage2").css("background-image", "url(" + img6 + ")");
      },
    });
  }
</script>

<%- include('./layout/footer'); -%>
